mkdocs
mkdocs-material
mkdocs-mermaid2-plugin
mkdocs-include-dir-to-nav
pandas
pyyaml
tabulate
requests
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability